{% extends 'base_skeleton.html.twig' %}

{% block metatitle %}How I work - Gary Straughan{% endblock %}
{% block title %}
   How I work
{% endblock %}

{% block navigation %}{% endblock %}

{% block body %}

    <div class="section">
        <div class="container">
            <div class="row">

                <p>Here are some things that I think are important in software development</p>

                <h3>A <em>pragmatic</em> Agile approach</h3>

                <p>I've been lucky enough to work with people - such as <a href="http://itkanban.com">Agile Kev</a> -
                    who consider themselves to be Agile experts. I've seen for myself the improvements that
                    can be made by "working differently".<p>

                <p>And I've also made the mistake of trying "impose" a process on a team that didn't want it -
                or wasn't ready for it.</p>

                <p>I now know the benefit of </p>



                <h3>A <em>pragmatic</em> approach to Testing</h3>

                <p>I'm a huge fan of Unit Testing.</p>

                <p>If I writing a class, I write it together with a test. Simple as that.</p>

                <p>But existing code isn't easy to Unit Test.</p>

                <p>But Behat is easy enough</p>






                </p>

            </div>
            <div class="row center">
                <a class="button button-primary" href="{{ path('contact') }}">Get in touch</a>
            </div>
        </div>
    </div>

{% endblock %}
