{% extends 'base_skeleton.html.twig' %}

{% block title %}Get in touch{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="six columns">

                <p>I'm always happy to hear from companies and recruiters alike.</p>

                <p>I also most never answer my phone when I'm on a client site. Here are two more effective ways of getting in touch:</p>

                <ul>
                    <li><a href="http://uk.linkedin.com/in/garystraughan/">Via LinkedIn</a></li>
                    <li>Via this form</li>
                </ul>


            </div>
            <div class="six columns"">
                {{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}
                {{ form_widget(form) }}
                <input type="submit" value="Contact" class="button button-primary pull-right" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
