{% extends 'base_skeleton.html.twig' %}

{% block title %}<h1 class="title">Get in touch</h1>{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="six columns">

                <p>I'm always happy to hear from companies and recruiters alike.</p>

                <p>I also most never answer my phone when I'm on a client site. Here are two more effective ways of getting in touch:</p>

                <ul>
                    <li><a href="http://uk.linkedin.com/in/garystraughan/">Via LinkedIn</a></li>
                    <li>Via this form</li>
                </ul>


            </div>
            <div class="six columns"">
                {{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}
                {{ form_widget(form) }}
                <input type="submit" value="Contact" class="button button-primary pull-right" />
                {{ form_end(form) }}
            </div>
        </div>

        <div class="row">

            <div class="six columns">

                <h3>Contact address</h3>
                <p>BRAINBOX Webtech Limited<br />
                Oxford Road South<br />
                Chiswick<br />
                London W4 3DD</p>
            </div>

            <div class="six columns">

                <h3>Registered office</h3>
                <p>BRAINBOX Webtech Limited is Registered in England and Wales<br />
                Company registration number: 7404796<br />
                c/o Deacon’s Chartered Accountants & Registered Auditors<br />
                The Stables<br />
                Shipton Bridge Farm<br />
                Widdington<br />
                Saffron Walden<br />
                Essex CB11 3SU</p>

            </div>
        </div>
    </div>
{% endblock %}
