{% extends 'base_skeleton.html.twig' %}

{% block body %}
    <h1>Gary Straughan - Symfony2 Contractor</h1>

    <h2>Recent Projects</h2>
    <div class="value-props row">

    {% for project in projects %}
        <div class="four columns value-prop">
            <h3>{{ project.title }}</h3>
            <p>{{ project.content|md2html }}</p>
        </div>
    {%  endfor %}
    </div>

{% endblock %}

