{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gary Straughan - Symfony2 Contractor</h1>

    <h2>Recent Projects</h2>
    {% for project in projects %}

        <h3>{{ project.title }}</h3>
        <p>{{ project.content }}</p>

    {%  endfor %}

{% endblock %}
