{% extends 'base_skeleton.html.twig' %}


{% block body_class %}{{ page.slug }}{% endblock %}
{% block title %}<h1 class="title">{{ page.title }}</h1>{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="eight columns">
                {{ page.body|md2html }}
            </div>
        </div>
    </div>
{% endblock %}
