{% extends 'base_skeleton.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="eight columns">
                {{ page.body|md2html }}
            </div>
        </div>
    </div>
{% endblock %}
