	DIV.calender_container INPUT{
		color:#000;
		background:transparent;
		border:none;
		cursor: default;
	}
	
	DIV.calender_container INPUT.date{
		width:70px;
	}
	
	DIV.calender_container UL.date_container{
		width:200px;
		position:relative;
		margin:0;
		padding:0;
		margin-left:-5px;
	}
	
	DIV.calender_container UL{
		list-style-type:none !important;
		padding-left:0px !important;
	}
	
	DIV.calender_container UL.date_container LI{
		padding:0px;margin-left:-2px;
	}
	
	DIV.calender_container UL.date_container LI INPUT{
		margin-left:8px;
	}
	
	DIV.calender_container UL LI{
		list-style:none;
	}
	
	INPUT.calendar,
	SELECT.calendar {
		width: 80px;
		/*float:left;*/
	}

	BUTTON.calendar {
		background: url(../images/calender_control/calendar-icon_trans.gif);
		border: 0;
		cursor: pointer;
		/*float: right;*/
		height: 20px;
		margin-right: 6px;
		width: 20px;
		margin-bottom:5px;
	}

	BUTTON.date_remove {
		background: url(../images/calender_control/calendar-icon_clear_trans.gif);
		border: 0;
		cursor: pointer;
		float: left;
		height: 20px;
		margin-right: 6px;
		width: 20px;
	}
	
	BUTTON.calendar:hover,
	BUTTON.calendar.active,
	BUTTON.date_remove:hover,
	BUTTON.date_remove.active
	{
		background-position: 0 20px;
	}

	DIV.calendar {
		background: url(../images/calender_control/calendar.png);
		height: 195px;
		padding: 0 6px;
		text-align: center;
		width: 147px;
	}	

	DIV.calendar * {
		margin: 0;
		padding: 0;
	}

	DIV.calendar DIV{
		background: none !important;
		/*cursor: move;*/
		height: 185px;
		overflow: hidden;
		padding-top: 10px;
		position: relative;
		width: 147px;
	}	
	
	DIV.calendar CAPTION{
		color: #333;
		font: normal 12px/16px Arial, Helvetica, sans-serif;
		padding-top: 6px;
		text-align: center;
		width: 100%;
	}
	
	DIV.calendar CAPTION A{
		cursor: pointer;
		display: block;
		height: 12px;
		overflow: hidden;
		position: absolute;
		text-indent: -100px;
		top: 17px;
		width: 11px;
	}
	
	DIV.calendar CAPTION A.prev{
		background-image: url(../images/calender_control/calendar-prev.gif);
		left: 0;
	}
	
	DIV.calendar CAPTION A.next{
		background-image: url(../images/calender_control/calendar-next.gif);
		right: 0;
	}
	
	DIV.calendar CAPTION A:hover{
		background-position: 0 12px;
	}
	
	DIV.calendar CAPTION SPAN{
		height: 25px;
		position: relative;
		text-align: center;
	}
	
	DIV.calendar CAPTION SPAN.month{
		padding-right: 8px;
	}
	
	DIV.calendar CAPTION SPAN.month:after{
		content: ',';
	}

	DIV.calendar TABLE{
		background: #FFF;
		border: 0;
		border-collapse: collapse;
		border-spacing: 0;
		cursor: default;
		margin: 0 auto;
		overflow: hidden;
		width: 147px;
	}
	
	DIV.calendar TD,
	DIV.calendar TH{
		border: 0;
		color: #0597DB;
		font: normal 12px Arial, Helvetica, sans-serif;
		height: 21px;
		text-align: center;
		width: 21px;
	}
	
	DIV.calendar TD{
		background: url(../images/calender_control/calendar-td.gif);
		color: #FFF;
		font-size: 11px;
	}
	
	DIV.calendar TD.invalid{
		color: #999;
	}
	
	DIV.calendar TD.valid{
		background: url(../images/calender_control/calendar-valid.gif);
		color: #0597DB;
		cursor: pointer;
	}
	
	DIV.calendar TD.hilite{
		background: url(../images/calender_control/calendar-hilite.gif);
	}
	
	DIV.calendar TD.inactive{
		background: url(../images/calender_control/calendar-td.gif) 0 100%;
		color: #FFF;
	}
	
	DIV.calendar TD.active,
	DIV.calendar TD.hover{
		background: url(../images/calender_control/calendar-valid.gif) 0 100%;
		color: #FFF;
		cursor: pointer;
	}