
html, body {
	color: #000;
	margin:0;
	
	padding:0;
	font-family: verdana, Helvetica, Arial, sans-serif;
	
	/*	modifications  */
	/*
	background: url('../images/background.jpg') #ffc;
	background-repeat: repeat-x;
	*/
	/*background: none #bcf;*/
	background-color:#FFFFFF;
}

input {
	font-family: verdana, Helvetica, Arial, sans-serif;
	font-size:1.2em !important;
}

textarea {
	font-family: verdana, Helvetica, Arial, sans-serif;
	font-size:1.2em !important;
	line-height:1.5em;
}

body{
	font-size: 70%;
	line-height: 130%;
}
#whitebox{
	background: yellow;
}

#header{
	position: absolute;
	top: 67px;
	left:56px;
}
#header2{
	position: absolute;
	top: 85px;
	left:180px;
	font-size: 0.8em;
}

hr{
	margin-right:10px;
}

.intro{
	font-size: 1.3em;
	color: white;
	/*background: blue url('../images/building.jpg') no-repeat top right;*/
	background: #309;
	padding: 12px 220px 12px 12px ; 
	margin-bottom: 30px;
	line-height: 1.5;
}


		
#centercontent{
     
	/* width: 500px; */
	background: #fff;
	text-align: left;
	margin: 0 0 0 0;
	padding:10px;
    
	/*	modification  */
	clear:both;
}

#rightcontent {
	margin-left:180px;
	line-height : 100%;
}
		
/* ############### End Main Structure ### */

a:link {
	/*color: #609;*/
	background-color : transparent;
	
	/*	modifications  */
	color: #0033CC;
}
a:visited {
	/*color: #508;*/
	background-color : transparent;
	
	/*	modifications  */
	color: #0033CC;
}
		
a:hover {
	color:#FF6600;
	background-color : transparent;
}
a:active {
	color: #339;
	background-color : transparent;
}	
		
#centercontent p {
	margin: 0.7em 0 0 0; 
	line-height: 150%;
	
	
}

#footer{
   text-align: left;
	/*width: 800px;*/
	padding: 5px 10px;
	
	font-size: 0.9em;
	line-height : 140%;
	background: #0033CC;
	color: white;
	height: 50px;
	
	
}	
#footer a:link{
	color: white
}


img{
	margin-top: 5px;
	border: none;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 1em
	}
	
	
#centercontent ul{		 
   padding-left: 15px;
	/*list-style-image: url('../images/basic-bullet.gif')*/
	list-style: square;
		}
	
li {
   margin-left: 10px;
   padding-left:10px;
	margin-top: 5px;
	margin-bottom: 0;	
	
}	
li li {	
	list-style-type: disc;
}	




dl#menu{
	margin:0;
	padding:0;
	
	/*	modifications  */
	/*padding-left:10px;*/
	/*background: url(../images/menubackground.gif) repeat-x #01a;*/
	/*width: 100%; *//*tHInK THIS IS NEEDED FOR safarI */
	background-color:#0033CC;
	height:36px;
}

dl#menu dd{
	margin:0 0 0 10px;
	padding:0;
}

dl#menu dd a{
	
}

dl#menu dd a:link, dl#menu dd a:visited{  
	z-index:100;
	height: 26px;
	width: 120px;
	overflow: hidden;
	padding-top: 10px;
	display: block;
	float: left;
	margin: 0;
	text-decoration:  none;
	text-align: center;
	color: #fff;
	font-size: 1.2em
	
	/*	modifications  */
	
}

dl#menu dd a:link.current, 
dl#menu dd a:visited.current{
	color:#666666 !important;
	background: url(../images/menu_active.gif) no-repeat transparent;
}
dl#menu dd a:hover,
dl#menu dd a:active{ 
	color:#FFFFFF !important;
	background: url(../images/menu_hover.gif) no-repeat transparent;
}




#nav, .nav{
	
	width: 160px;
	padding:0 0 0 5px;
	margin: 0 20px;
	/*background: url("../images/downarrow.jpg") no-repeat;*/
	text-align:center
	
}



#nav ul{
  text-align: left;
	padding: 0;
	font-size :0.9em;
	margin: 0;
	list-style:none;
	}
#nav ul li{
	list-style:none;
	margin: 0;
	padding: 0;
	
  display: inline; 
}

#nav A {
	display: block;
	text-decoration : none;
	line-height: 1.2em;
	padding: 1px 2px 1px 30px;
	margin-top: 6px;
	
	/*border: 1px #c5cbff solid;*/
	
}

#nav A:link, #nav A:visited {
	
	text-decoration : none;
	color: #333;
	/*background: #fff2bf*/
	/*background: url("../images/bullet.gif") no-repeat 0 2px;*/
	
}
#nav ul a#navselected{
    color: #000;
	 background-position: 0 -38px;
	/* background: none #FFE580; */
	 background: url("../images/babyarrow.gif") no-repeat 0% 5px ;
	 
}	 
#nav A:hover {
    color: #000;
	 /*text-decoration: underline;*/
	 background: none #FFE580;
}


	
	/*
#printlogo{
	display:none;
}
*/

H1 {
	color:#0033CC;
	BACKGROUND-COLOR: transparent;
	FONT-SIZE: 1.6em;
	line-height : 120%;
	background-position: 0 10px;
	margin:0 0 15px 0;
	padding:0;
}

H2 {
	FONT-SIZE: 1.2em;
	margin: 1.4em 0 0 0;
	margin-bottom:10px;
}

H3 {
	FONT-SIZE: 1.1em; 
	margin: 1.4em 0 0 0;
}
/*no spacing in a table */
td h3 {
	FONT-SIZE: 1.1em; 
	margin:  0;
}
td h3 span{
	font-weight: normal !important
}


#rightcontent h1{
	font-size: 90%;
	font-weight:  600;
	margin-top: 20px;
	margin-bottom: 5px;
	border-bottom: solid 1px;
	color: #36c;
	border-bottom: #36c;
}
#rightcontent p {
		font-size:90%;
		margin-top: 5px;
		}
#rightcontent form{
		margin-top: 5px;
		}		
#printpage{
		font-size: 70%;
		line-height: 120%;
		text-align: right;
       
   		padding: 5px 10px 5px 10px;
		border:1px solid;
	    margin-left: 160px;
   		margin-right:200px;
		margin-bottom: 10px;
	
		
		voice-family: "\"}\"";
		voice-family: inherit;
   		margin-left: 161px;
   		margin-right:201px;

        background:#fff;
   		
		 border: #36c;
	    margin-left: 160px;
		
}


.market{
   border: 1px solid #c5cbff;
}
table.homepage{
   width: 100%;
	 border-collapse: collapse;
	 margin-top: 1.5em;
}
.homepage td.market{
   padding: 10px 10px 10px 0;
	 width: 150px;
}
.market h2{
   margin: 0;
   text-align: center
}
td.market dl{
		margin: 6px 0 0 0;
		padding:0
}
td.market dd{
    margin: 0 0 0 0px;
		padding: 4px 0 0 23px;
		background: url('http://www.brainboxweb.co.uk/images/babyarrow.gif') no-repeat  0px 8px
}
	

		

#sitemap li a{

	text-decoration: none;
}
#sitemap ul{
 
 padding: 0
}
#sitemap ul li{

 list-style-image: none;
 list-style-type: none;
}

#sitemap ul li{
	font-weight: bold
}
#sitemap ul li ul li{
	font-weight: normal
	
}
#sitemap ul li ul li ul li{
	font-size: 0.8em;
	margin: 0
	
}



.floater{
     font-size: 90%;  
      float: right; 
		clear: right;
	  width: 176px; 
      margin: 20px 0 10px 10px;
      padding: 10px;
		border: 1px solid #666;
		background: none #ffc
}


.floater a:link, .floater a:visited, .floater a:hover, .floater a:active{
	
	font-weight: bold;
	
}



.floater h1{
	font-size : 130%;
	font-weight: bold;
	margin-bottom: 0;
}
 .floater h2{
	font-size : 100%;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 1.5em;
}
 .floater p{
	font-size : 100%;
	margin-bottom: 0;
	margin-top: -0.5em;

}
.floaterhead{
     font-size: 85%;  
	 text-align: center;
	 margin-bottom: 4px;
	 padding-bottom: 6px;
	  border-style: none none solid none;
     
      border-width: 2px; 
	 
      font-weight: 600;
     
}
label {
	cursor:pointer;
	
}
legend{
	font-size:100%;
	font-weight:bold;
}
fieldset {
	/*	border: 1px solid; */
	border:0;
	padding: 10px;
}
table{
 border-collapse: collapse

}
table td{
   vertical-align:top
}

table.developmentprocess{
  margin: 3em 0
}

table.developmentprocess td.col1{
  padding-top: 3px;
  width: 70px;
	padding-right: 10px;
  font-weight:bold
}




.example{
	margin: 10px 0 10px 0;
	padding: 5px 10px 10px 10px;
	background-color: #ffc;
	
}


table.example td{
	padding: 0 10px 0 0;
	font-family: verdana, arial, helvetica, sans-serif;
    font-size: 85%;
	}

table.contact td{
	padding: 0 10px 0 0;
	
	 vertical-align: top;
	}
table.contact td.col1{
 font-size: 85%;
}

table.scorecard {
	margin-top:2em;
	margin-left: 40px
}

table.scorecard th{
 text-align: left
}


table.scorecard td.score{
 padding-right: 2em
}

code {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 85%;
	
}
form p {
	margin-top: 15px;
	font-size: 85%;
}

.image-right{
  float: right;
  clear:right;
  padding: 0 20px 5px 10px;
  text-align: right;
  }
.AtoZ{
  
  width: 19%; 
  margin: 5px 10px 5px 0;
  float: left;
  
}
.AtoZ ul{
 list-style-type: none;
  font-size: 80%;
  margin:  5px;
}     
.AtoZ li{
  
  margin: 4px 0 0 4px;
  padding: 0;
  line-height: 100%;
  
}    

div.row {

  clear: both;

  padding: 10px;

            width: 100%;
text-align: center;
      

            margin-top: 10px;

  }

 

div.row span.left{

  float: left;

  width: 40%;

  text-align: left;

            padding: 10px 0 10px 40px;

            background-image: url(../images/leftred.gif);

            background-repeat: no-repeat;

            background-position: 0 50%;

            

  }

 

div.row span.right{

  float: right;

  width: 40%;

            padding: 10px 40px 10px 0;

  text-align: right;

            background-image: url(../images/rightgreen.gif);

            background-repeat: no-repeat;

            background-position: 100% 50%;

 

  } 
  /*
 #printheader, #printfooter{
	display: none;
}
*/

#logo{ position: absolute; 
			 top:28px; 
			 right:20px
}

#quicklinks{
	text-align: right;
	font-size: 0.8em;
	color: #ddd;
	padding: 5px 20px 0 0;
	height: 22px;
	background: #03c;
}
#quicklinks a{
	text-decoration: none;
	BACKGROUND-COLOR: transparent;
	color: #ddd;
}
#quicklinks  A:hover {
	TEXT-DECORATION: underline;    
}

#breadcrumb{
	clear:left;
	font-size: 0.8em;
	text-transform: uppercase;
	margin:0;
	padding: 3px 10px ;
	color:  #ddd;
	text-align: left;
	background: #03c;
	height: 22px;
}

#breadcrumb  a:link, #breadcrumb  a:visited {	
	BACKGROUND-COLOR: transparent;
	color: #ddd;
	 text-decoration:none;
}
#breadcrumb  a:hover, #breadcrumb  a:active {	
	BACKGROUND-COLOR: transparent;
	color: #fff;
	 text-decoration:underline;
}


#bottomlinks{
	margin-top: 4em;
	 color: #999;
	 font-size: 0.8em;
}









form input.button{
   font-family:verdana,helvetica,sans-serif;
	 font-size:1.1em;
   font-weight : 400;
   border: solid 1px;
   padding: 1px 3px 1px 3px;
}
form input.button { /* for IE only */
cursor:pointer;
}
form input.button:hover { /* for Geckos */
cursor:pointer;
 

}
form input.buttonhov{ /*Hover state */
  
}


.wrapper {
width: 100%;
}



.floaterhead{
      border-color: #cccccc; 
      color: #666666; background-color: transparent
}




code {
	
	color: red;
	background-color: transparent;
}

.clearleft{clear: left}
.clearright{clear: right}
.clearboth{clear: both}

.container{
	width: 100%;
}
.spacer{
clear:both;
line-height: 0}

.floatright{
	float:right;
	clear: right;
	margin: 0 0 10px 10px
}


.floatleft{
	float:left;
	clear: left;
	margin-right: 1em;
}

dl#submenu{
				 background: none #68e;
				 padding: 2px 0 0 10px;
				 height: 17px;
				 margin:0; 
}
dl#submenu dd{
margin:0;
padding:0
}

dl#submenu dd a{
				display:block;
				width: 2.5em;
				height: 20px;
				margin:0;
				padding:0;
				float: left;
				text-align: center;
				text-decoration: none;
}
dl#submenu dd a:link,dl#submenu dd a:visited {
	color: #fff;
}

dl#submenu dd a:hover{
	color: #03c;
	background: #fff;
}

/* BBCode Help pages*/

table.bbcode{
	margin: 1em 0 2em 0;
}

table.bbcode th, table.bbcode td{
	width: 390px;
	text-align: left;
	border: 1px solid #ccc;
	padding: 5px;				
}

table.bbcode th{
	font-size: 0.7em;
}

table.bbcode code{
	color: #000;
}

form.add_form {
	margin:10px 0 10px 0;
	padding:10px 10px 10px 28px;
	background:url(../images/add_form.gif) #EEEEEE left top no-repeat;
}

form.add_form input {
	margin-left:10px;
	font-size:1em !important;
}


.mono {
	font-family:monospace;
}

form span.mono {
	font-size:1.2em;
}
form input.mono {
	font-size:1.2em;
}


#logout{
	
	float:right;
	padding:3px 10px;
	
}
#logout a:link, #logout a:visited{
	
	color:#ddd;
	text-decoration: none;
	
}
#logout a:hover, #logout a:active{
	color:white;
	text-decoration: underline;
	
}






/*------------------------ MARKDOWN --------------------------*/


.markdown{
	
	width: 800px;
	background: #eee;
	padding: 10px
}

.markdown table{
	
	width: 100%;
	background: #fff;
}


.markdown table th,
.markdown table td
{
	
	border: 1px solid #ccc;
	padding: 10px
}


.markdown table col.markdown-input{
	
	width: 400px;
}

.markdown code{
	
	color: #000;
	font-size: 1.1em;
}







