
	
/**** Content needs to share! ***/


#big{
	
	float: left;
	width: 555px;
	padding-right: 15px;
	
}

#small{
	
	float: left;
	width: 230px;
	margin-top: 40px;
}


#content{

   /* min height */
    min-height:400px;
    height: auto !important;
    height: 400px;
    
}