

#karate-self-defence{
	
	width: 100%;
	
}

#karate-self-defence #karate,
#karate-self-defence #self-defence
{
        width: 270px;
        height: 100px;
	float: left;
        
        padding:  48px 5px 10px 15px;
        
	
}

#karate-self-defence #self-defence
{
        
	float: left;
        padding:  48px 0px 10px 20px;
	
}